/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/* Navigation styles */
.inline-block{
    background-color: #222121;
    position: fixed;
    width: 95px;
    top: 0;
    left: 40%;
    height: 100%; 
    padding: 0;
    margin: 0;
}

.inline-block p {
    color: white;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }

.contact {
    letter-spacing: 0;
    line-height: normal;
    position:absolute;
    top: 565px;
    transform: rotate(-90deg);
    width: 70px;
}

.passions {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 410px;
    transform: rotate(-90deg);
    width: 70px;
}

.work {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 240px;
    transform: rotate(-90deg);
    width: 70px;
}

.about {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 100px;
    transform: rotate(-90deg);
    width: 70px;
}

/* Hero section styles */

.content-topleft {
    background-color: #F6DF63;
    height: 600px;
    width: 500px;
    padding: 25px;
}

.hei {
    font-family: "bryant-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: left;
    padding: 25px;
}

.content-topright {
   height: 600px;
   padding: 25px;
}

.content-bottom {
    height: 600px;
    padding: 25px;
}

.content-background {
   height: 600px;
   padding: 25px;
}

.content-rightheroimg {
    height: 600px;
    padding: 25px;
}

.content-whatido {
    width: 500px;
    margin: 0 auto;
}

.nameblock{
    width: 500px;
    margin: 0 auto;
}

.content-rightheroimg {
    height: 600px;
    padding: 25px;   
}



/* Footer Styles */