/* Body */

/* Navigation styles */
.inline-block{
    background-color: #222121;
    position: absolute;
    width: 95px;
    top: 0;
    left: 40%;
    height: 100%; 
    padding: 0;
    margin: 0;
}

.inline-block p {
    color: white;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
  }

.contact {
    letter-spacing: 0;
    line-height: normal;
    position:absolute;
    top: 565px;
    transform: rotate(-90deg);
    width: 70px;
}

.passions {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 410px;
    transform: rotate(-90deg);
    width: 70px;
}

.work {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 240px;
    transform: rotate(-90deg);
    width: 70px;
}

.about {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 100px;
    transform: rotate(-90deg);
    width: 70px;
}

/* Hero section styles */

#hero-left {
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    width: fit-content;
    position: absolute;
}

.content-topleft {
    background-color: #F6DF63;
    height: 441px;
    width: 318px;
    padding: 0;
    margin: 0;
    top:0;
    left: 0;
    position: absolute;
}

.hei {
    font-family: "bryant-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: left;
    padding: 30px;
}

.content-topright img {
    height: 441px;
    width: 318px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 318px;
    position: absolute;
}

.content-bottom img {
    height: 297x;
    width: 636px;
    top: 438px;
    left: 0;
    padding: 0;
    margin: 0;
    position: absolute;
}

.content-background img {
   height: 1000px;
   width: 40%;
   position: fixed;
}

.content-rightheroimg {
    height: 600px;
    padding: 25px;
}

.content-whatido {
    top: 1020px;
    width: 500px;
    padding-left: 20px;
    position: absolute;
}

.content-whatido p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#hero-right {
    height: 1073px;
    width: 898px;
    position: absolute;
    top: 100px;
    left: 50%;
}
.nameblock {
    width: 500px;
    display: block;
    left: 40px;
    bottom: 10px;
}

.kate {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 100px;
}

.content-rightheroimg img{
    height: 875px;
    width: 871px;
    position: absolute;
}



/* Footer Styles */